$bg-base: #fff;
$bg-light: #eceff4;
$bg-dark: #2d3440;
$bg-button: #4c566a;
$bg-button-hover: #2E3440;
$bg-icon: #d8dee9;
$border-base: #4c566a;
$border-lightBase: #5e81ac;
$font-color-base: #4c566a;
$font-color-light: #eceff4;
$font-family-jp: "Noto Sans JP";